{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}

{% block style %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock %}

{% block content %}
  <h2 class="large colored decode">Sign Up</h2>
  <form method="post">
    <div id="form-div">
      <span>
        {% csrf_token %}
        <p>
          {{form.email}}
          <label for="id_email">Email</label>
        </p>
        <p>
          {{form.username}}
          <label for="id_username">Username</label>
        </p>
        <p>
          {{form.password1}}
          <label for="id_password1">Password</label>
        </p>
        <p>
          {{form.password2}}
          <label for="id_password2">Confirm Password</label>
        </p>
      </span>
      <span id="hint"></span>
    </div> 
    <button class="colored" type="submit">
      <svg width="72" height="72" viewBox="0 0 72 72" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle cx="29" cy="26" r="9" fill="var(--primary-color)"/>
<path d="M14 52C14 50.0302 14.388 48.0796 15.1418 46.2597C15.8956 44.4399 17.0005 42.7863 18.3934 41.3934C19.7863 40.0005 21.4399 38.8956 23.2598 38.1418C25.0796 37.388 27.0302 37 29 37C30.9698 37 32.9204 37.388 34.7403 38.1418C36.5601 38.8956 38.2137 40.0005 39.6066 41.3934C40.9995 42.7863 42.1044 44.4399 42.8582 46.2598C43.612 48.0796 44 50.0302 44 52L29 52L14 52Z" fill="var(--primary-color)"/>
<path d="M53.5 26V45" stroke="var(--primary-color)" stroke-width="4"/>
<path d="M44 35.5L63 35.5" stroke="var(--primary-color)" stroke-width="4"/>
</svg>
      Sign Up</button>
  </form>

  <script>
    $('label[for= "id_username"]').val("Email: ");
    console.log($('label[for= "id_username"]').val());
  </script>

<script src = "{% static 'js/base.js' %}" type="module"></script>
<script src = "{% static 'js/formhelp.js' %}" type="module"></script>
{% endblock %}