form {
    padding-top: 5vw;
    margin-left: 5vw;
    line-height: 3em;
    width: fit-content;
}

input {
  display: inline-block;
  position: relative;
  top: -3em;
  background-color: var(--bg-color);
  border: none;
  outline: none;
  border-bottom: solid 2px var(--main-color);
  color: var(--accent-color);
  font-family: inherit;
  font-weight: 200;
}

input:focus {
  border-bottom-color: var(--accent-color);
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    box-shadow: inset 0 0 20px 20px var(--bg-color);
}

input:-webkit-autofill{
    -webkit-text-fill-color: var(--accent-color) !important;
}

label {
  display: inline-block;
  position: absolute;
  padding-top: 1.5em;
  transform: translate(0,-2.5em);
}

#form-div {
  display: flex;
  gap: 30px;
}

#hint {
  display: none;
  position: relative;
  top: -3em;
  padding-left: 1vw;
  border-left: solid 3px var(--dark-color);
  color: var(--dark-color);
}

button {
  display: inline-block;
  position: relative;
  font: inherit;
  line-height: 1.25em;
  border: none;
  border-radius: 3px;
  background-color: transparent;
  color: var(--accent-color);
  font-weight: 200;
  font-size: 24px;
  transition: font-weight 0.25s ease-out;
}

button:hover {
  font-weight: 300;
}

button:after  {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: transform 0.25s ease-out;
  background-color: var(--accent-color);
  filter: opacity(0.75);
}

button:hover:after {
  transform: scaleX(1);
}