{% extends 'base.html' %}

{% block title %}Singleplayer{% endblock %}

{% block style %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/cryptogram.css' %}">
{% endblock %}

{% block content %}
<button id = "get-puzzle">New Puzzle</button>
<button id = "check-puzzle" hidden>Check Answer</button>
<button id = "reset-puzzle" hidden>Reset</button>
    <div id = "cryptogram"></div>


    
<script src = "{% static 'js/aristocrat.mjs' %}" type="module"></script>
<script src = "{% static 'js/hill.mjs' %}" type="module"></script>
<script src = "{% static 'js/morbit.mjs' %}" type="module"></script>
<script src = "{% static 'js/game.mjs' %}" type="module"></script>
{% endblock %}