{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block style %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/base.css' %}">
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  <p class="large accent decode">
    Hello
    <p id="display-name" class="decode">{{ user.username}}!</p>
  </p>
  <p><a href="{% url 'singleplayer' %}">Singleplayer</a></p>
  <p><a href="">Multiplayer</a></p>
  <p><a href="{% url 'logout' %}">Log Out</a></p>

{% else %}
  <p class="large decode">You are not logged in.</p>
  <p><a class="decode" href="{% url 'login' %}">Log In</a></p>
  <p><a class="decode" href="{% url 'signup' %}">Sign Up</a></p>
{% endif %}

<script src = "{% static 'js/base.js' %}" type="module"></script>
{% endblock %}